*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    background: #232e52;
    color: #ffffff;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.logo{
    font-size: 30px;
}
nav .nav-link{
    display: flex;
    list-style: none;
    text-decoration: none;
}
nav .nav-link li a{
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 20px;
}
.mobile-menu-icon{
    display: none;
}


@media screen and (max-width:760px){
    .logo{
        display: block;
    }
    nav .nav-link{
        display: none;
    }
    .nav-link-mobile{
        position: absolute;
        display: block;
        list-style: none;
        background-color: #4d5880;
        left: 0;
        top: 75px;
        transition: all 0.5s ease-out;
        width: 94.5%;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
    }
    .nav-link-mobile li{
        text-decoration: none;
        cursor: pointer;
        font-size: 30px;
        text-align: center;
        text-align: center;
        justify-content: center;
        padding: 10px;
        border-bottom: 2px solid #1ba0dd;
    }
    .nav-link-mobile li a{
        color: #f0eeee;
        text-decoration: none;
    }
    .mobile-menu-icon{
        display: block;
        position: relative;
        font-size: 20px;
        color: #ffffff;
        background: none;
        border: none;
        outline: none;
        top: 5px;
        right: 5px;
        justify-content: flex-end;
    }
}
